html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}

:root{
	--primary: rgba(58, 151, 177, 1);
	--secondary: rgba(58, 151, 177, 0.1);
}

body{
	font: 1em sans-serif;
	line-height: 1.5em;
	background: var(--secondary);
	color: #636363;
}

a{
	text-decoration: none;
	display: inline-block;
	color: var(--primary);
	cursor: pointer;
}
a:hover{
	text-decoration: underline;
}
button, .button{
	border: 1px solid var(--primary);
	border-radius: 30px;
	padding: 5px 20px;
	cursor: pointer;
	background: #fff;
}
button{
	background: transparent;
	color: var(--primary);
	font-size: 1em;
}
button:hover, .button:hover{
	background: var(--secondary);
	text-decoration: none;
}

p{
	margin: 5px 0 15px;
}

table{
	width: 100%;
	border-spacing: 0;
}
th{
	font-weight: bold;
	padding: 10px;
	text-align: left;
}
.table th{
	background: var(--primary);
	color: #fff;
}
.table-light th{
	background: var(--secondary);
}
td{
	padding: 10px;
	border-bottom: 1px solid #e9e9e9;
}
.bounce tr:nth-child(2n+3) {
	background: #fff;
}
.bounce tr:nth-child(2n+2) {
	background: #f9f9f9;
}

input, select{
	margin: 5px;
	padding: 5px;
	border: #ccc solid 1px;
	border-radius: 3px;
	color: #383F47;
	font-size: 1em;
}
input:focus, textarea:focus, select:focus{
	border: var(--primary) solid 1px;
	box-shadow: 0 0 4px var(--primary);
}
input[type=file]{
	width: auto;
	font-size: smaller;
}
textarea{
	margin: 5px;
	padding: 5px;
	border: #ccc solid 1px;
	border-radius: 3px;
	color: #383F47;
	font: 1em sans-serif;
	resize: none;
}


/********* Grid *********/
.row {
  position: relative;
  width: 100%;
}

.row .col-1,
.row .col-2,
.row .col-3,
.row .col-4,
.row .col-5,
.row .col-6,
.row .col-7,
.row .col-8,
.row .col-9,
.row .col-10,
.row .col-11,
.row .col-12{
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
  box-sizing: border-box;
  padding: 15px 20px;
}

.bloc{
	background: #fff;
	box-shadow: 0 2px 4px -3px rgba(0,0,0,0.5);
	border-radius: 3px;
	margin: 20px 0;
}

.col-1 {
  width: 4.33%;
}
.col-2 {
  width: 12.66%;
}
.col-3 {
  width: 21%;
}
.col-4 {
  width: 29.33%;
}
.col-5 {
  width: 37.66%;
}
.col-6 {
  width: 46%;
}
.col-7 {
  width: 54.33%;
}
.col-8 {
  width: 62.66%;
}
.col-9 {
  width: 71%;
}
.col-10 {
  width: 79.33%;
}
.col-11 {
  width: 87.66%;
}
.col-12 {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}


/********* Texte *********/
h1 {
  font-size: 2.5rem;
  padding: 10px 0;
}
h2 {
  font-size: 2rem;
  padding: 10px 0;
}
h3 {
  font-size: 1.375rem;
  padding: 10px 0;
}
h4 {
  font-size: 1.125rem;
  padding: 10px 0;
}
h5 {
  font-size: 1rem;
  padding: 10px 0;
}
h6 {
  font-size: 0.875rem;
  padding: 10px 0;
}

.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}

.bold, b{
	font-weight: bold;
}
.italic, i{
	font-style: italic;
}



/********* Header *********/
.bg-header{
	background: var(--primary);
	height: 300px;
	position: absolute;
	left: 0;
	width: 100%;
	z-index: -1;
}
.header{
	min-height: 180px;
	color: #fff;
}



/********* Alertes / Tags *********/
.alert{
	padding: 10px;
	margin: 10px 0;
	background: var(--secondary);
	border-radius: 3px;
}
.alert-success{
	padding: 10px;
	margin: 10px 0;
	background: #A0D468;
	border-radius: 3px;
	color: #fff;
}
.alert-warning{
	padding: 10px;
	margin: 10px 0;
	background: #F6CA2F;
	border-radius: 3px;
	color: #fff;
}
.alert-danger{
	padding: 10px;
	margin: 10px 0;
	background: #E46F61;
	/*border: 1px solid #FAD9D7;*/
	border-radius: 3px;
	color: #fff;
}
.alert-info{
	padding: 10px;
	margin: 10px 0;
	background: #57B5E3;
	border-radius: 3px;
	color: #fff;
}

.tag{
	padding: 2px 15px;
	background: var(--secondary);
	border-radius: 3px;
}
.tag-success{
	padding: 2px 15px;
	background: #A0D468;
	border-radius: 3px;
	color: #fff;
}
.tag-warning{
	padding: 2px 15px;
	background: #F6CA2F;
	border-radius: 3px;
	color: #fff;
}
.tag-danger{
	padding: 2px 15px;
	background: #E46F61;
	border-radius: 3px;
	color: #fff;
}
.tag-info{
	padding: 2px 15px;
	background: #57B5E3;
	border-radius: 3px;
	color: #fff;
}


/********* *********/
.contain{
	max-width: 1200px;
	margin: 0 auto 20px;
}

.title{
	color: var(--primary);
	font-size: 1.8em;
	text-align: center;
	margin: 10px 0;
}
.title-bar {
    width: 70%;
    border-bottom: 1px solid var(--primary);
    font-size: 1.8em;
    color: var(--primary);
    margin-bottom: 35px;
    clear: both;
    padding: 10px 0;
}

.list-inline li{
	display: inline-block;
}


.white{
	background: #fff;
}
.bg-color{
	background: var(--primary);
}
.text-color{
	color: var(--primary);
}





@media only screen and (max-width: 720px) {
	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11,
	.col-12 {
		width: 96%;
	}
	.col-hidden{
		display: none;
	}
}

@media only screen and (max-device-width: 720px) {
	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11,
	.col-12 {
		width: 96%;
	}
	.col-hidden{
		display: none;
	}
}
